{% extends 'base.html.twig' %}



{% block body %}
   <h1>Connexion</h1>

   <form action="{{ path('security_login') }}" method="post">
        <div class="form-group">
            <input placeholder="Nom..." type="text" class="form-control" name="_username" required>
        </div>

        <div class="form-group">
            <input placeholder="Mot de passe..." type="password" class="form-control" name="_password" required>
        </div>
        <button class="btn btn-success"> Connexion ! </button>
   </form>
    <p>Pas de compte? <a href="{{ path('security_registration')}}"> S'incrire </a> </p>
{% endblock %}